.card{
    margin-top: 15px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130;
    background-color: rgb(49, 49, 49);
    width: 130;
}

.card-aberto{
    margin-top: 10px;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    background-color: rgb(194, 144, 144);
    width: auto;
}

.thumb {
    border-radius: 4px;
    width: 63px;
    margin: 1px;
}

.info{
    margin: 7px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 12px;
    /* justify-content: ; */
}

.info .title{
    font-weight: bold;
}

.info .repetitions{
    font-size: small;

    margin-top: 13px;
}

.check {
    position: relative;
    right: 12px;
    top: 23px;
    /* font-size: 20px; */
    cursor: pointer;
    font-size: 20px;

}

.check:hover {
    font-size: 20px;
}

.mini-button {
    padding: 10px !important;
    width: 300px;
    margin: 0 0 0 23px;
    visibility: hidden;
}

.mini-button .hidden {
    visibility: hidden;
}