.container-dados{
    margin-top: 80px;
    overflow: hidden;
}

.alterar-foto {
    font-size: 13px;
    margin: 7px;
}

.foto {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
}

.foto img {
    width: 100%;
    height: auto;
    display: block;
}

.sair button {
    background-color: rgb(250, 163, 163) !important;
}

.sair button:hover {
    background-color: rgb(251, 148, 148) !important;
}


.alterar-senha {
    margin-top: 40px;
}