.title {
    color: rgb(187, 182, 150);
    position: relative;
    left: 10px
}

.repetitions {
    position: relative;
    right: 10px;
    bottom: 4px
}

.data-hora {
    font-size: 13px;
    position: relative;
    top: 13px;
    margin: 8px
}

.hora {
    position: relative;
    bottom: 9px;
}