#root {
  text-align: center;
}

.background-image{

  background-repeat:no-repeat;
  position: fixed;
  left: 50%;
  top: 5%;
  z-index: -1;
  opacity: 0.2;
  display: block;
  background-image: url("../public/background.png");
  height: 100%;  
  width: 100%;
  background-size: 500px;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.actions {
  position: fixed;
  z-index: 2;
  top: 18px;
  left: 15px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}